body {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: whitesmoke;
}

.container {
  display: grid;
  grid-template-columns: 250px 300px;
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 20px;
  //   grid-template-areas:
  //     "header header"
  //     "sidebar content"
  //     "sidebar content";
  div {
    background-color: red;
    color: white;
    border: 3px solid green;
  }
  b {
    font-weight: bold;
    color: black;
  }

  .grid1 {
    grid-column: 1 / -1;
    // grid-area: header;
  }
  .grid2 {
    grid-column-start: 2;
    grid-column-end: 4;
    // grid-area: header;
  }
  .grid2 {
    grid-column-start: 2;
    grid-row-end: 4;
    // grid-area: sidebar;
    background-color: green;
  }
}
