* {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

body {
  color: white;
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.mobile_wrapper {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 100px;
  grid-template-rows: 40px 40px 40px 85px 75px 70px 68px 67px;
}
.mobile_wrapper div {
  display: grid;
  place-items: center;
  background-color: transparent;
}
.mobile_wrapper div:nth-child(1) {
  color: black;
}
.mobile_wrapper div:nth-child(2) {
  background-color: #0e1629;
}
.mobile_wrapper div:nth-child(3) {
  background-color: #f03b4e;
}
.mobile_wrapper div:nth-child(4) {
  background-color: #4c85c8;
}
.mobile_wrapper div:nth-child(5) {
  background-color: #24344b;
}
.mobile_wrapper div:nth-child(6) {
  background-color: #fed269;
  color: black;
}
.mobile_wrapper div:nth-child(7) {
  color: black;
  background-color: #4fbb97;
}
.mobile_wrapper div:nth-child(8) {
  background-color: #c1e4e8;
  color: black;
}

.tablet_wrapper {
  height: 80%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 350px;
  grid-template-rows: 40px 40px 140px;
}

.tablet {
  display: grid;
  place-items: center;
  color: black;
}

.tablet_header,
.tablet_hero,
.tablet_menu,
.tablet_main,
.tablet_banner,
.tablet_extra,
.tablet_image {
  display: grid;
  place-items: center;
}

.tablet_banner,
.tablet_extra,
.tablet_image {
  color: black;
}

.tablet_header {
  background-color: #0e1629;
}

.tablet_hero {
  background-color: #4c85c8;
}

.tablet_menu {
  background-color: #f03b4e;
}

.tablet_main {
  background-color: #24344b;
}

.tablet_banner {
  background-color: #fed269;
}

.tablet_extra {
  background-color: #4fbb97;
}

.tablet_image {
  background-color: #c1e4e8;
}

.tablet_hold {
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-template-rows: 265px;
}
.tablet_hold .tablet_hold2 {
  display: grid;
  grid-template-rows: 135px 65px;
}
.tablet_hold .tablet_hold2 .tablet_hold3 {
  display: grid;
  grid-template-rows: 65px;
  grid-template-columns: 1fr 150px;
}

.desktop_wrapper {
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: 40px 40px 180px 150px 75px;
  margin-top: 50px;
}

.desktop,
.desktop_header,
.desktop_menu,
.desktop_main,
.desktop_image,
.desktop_extra,
.desktop_hero,
.desktop_banner {
  display: grid;
  place-items: center;
}

.desktop_image,
.desktop_extra,
.desktop,
.desktop_banner {
  color: black;
}

.desktop_hero {
  background-color: #4c85c8;
}

.desktop {
  color: black;
}

.desktop_header_and_menu_wrapper {
  display: grid;
  grid-template-columns: 100px 1fr;
}

.desktop_header {
  background-color: #0e1629;
}

.desktop_menu {
  background-color: #f03b4e;
}

.desktop_main_and_image_wrapper {
  display: grid;
  grid-template-columns: 230px 1fr;
  -moz-column-gap: 120px;
       column-gap: 120px;
}

.desktop_main {
  background-color: #24344b;
}

.desktop_image {
  background-color: #c1e4e8;
}

.desktop_extra {
  background-color: #4fbb97;
}

.desktop_extra_and_image_wrapper {
  display: grid;
  grid-template-rows: 80px 80px;
}

.desktop_banner {
  background-color: #fed269;
}/*# sourceMappingURL=first.css.map */