$color-one: #c9316a;
$color-two: #558d46;
$color-three: #799a29;
$color-four: #ca319d;
$color-five: #498756;
$color-six: #2fc8c3;
$color-seven: #534078;
$color-eight: #ed6f63;
$color-nine: #efc439;
$color-ten: #277e88;
$color-eleven: #31c891;
$color-twelve: #dd212f;

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 370px 280px 140px;
    grid-template-rows: 400px;
    column-gap: 5px;
}

.one {
    display: grid;
    grid-template-rows: 295px 100px;
    grid-template-columns: 370px;
    row-gap: 5px;
}

.oneup {
    display: grid;
    grid-template-columns: 125px 240px;
    grid-template-rows: 295px;
    column-gap: 5px;
}

.oneupleft {
    display: grid;
    grid-template-columns: 125px;
    grid-template-rows: repeat(3, 95px);
    row-gap: 5px;
}

.oneupleftchild {
    display: grid;
    place-items: center;
}

.oneupleftchild1 {
    background-color: $color-one;
    display: grid;
    place-items: center;
}

.oneupleftchild2 {
    background-color: $color-two;
    display: grid;
    place-items: center;
}

.oneupleftchild3 {
    background-color: $color-three;
    display: grid;
    place-items: center;
}

.oneupright {
    display: grid;
    grid-template-columns: 240px;
    grid-template-rows: 194px 97px;
    row-gap: 5px;
}

.oneuprightchild {
    display: grid;
    place-items: center;
}

.oneuprightchild1 {
    background-color: $color-four;
    display: grid;
    place-items: center;
}

.oneuprightchild2 {
    display: grid;
    grid-template-columns: 79px 156px;
    grid-template-rows: 97px;
    column-gap: 5px;
}

.oneuprightchild2left {
    background-color: $color-five;
    display: grid;
    place-items: center;
}

.oneuprightchild2right {
    background-color: $color-six;
    display: grid;
    place-items: center;
}

.onedown {
    background-color: $color-seven;
    display: grid;
    place-items: center;
    color: white;
}

.two {
    background-color: $color-eight;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    display: grid;
    place-items: center;
}

.three {
    display: grid;
    grid-template-columns: 140px;
    grid-template-rows: repeat(4, 97px);
    row-gap: 4.3px;
}

.three-child {
    display: grid;
    place-items: center;
}

.three1 {
    background-color: $color-nine;
    display: grid;
    place-items: center;
}

.three2 {
    display: grid;
    place-items: center;
    background-color: $color-ten;
}

.three3 {
    display: grid;
    place-items: center;
    background-color: $color-eleven;
}

.three4 {
    display: grid;
    place-items: center;
    background-color: $color-twelve;
}
